* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v54_392 {
  width: 100%;
  height: 2945px;
  background: linear-gradient(rgba(200,132,166,1), rgba(161,117,179,1));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v54_393 {
  width: 432px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 241px;
  left: 97px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v54_395 {
  width: 816px;
  color: rgba(19,19,19,0.6000000238418579);
  position: absolute;
  top: 295px;
  left: 93px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v54_396 {
  width: 879px;
  height: 22px;
  background: url("../images/v54_396.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 626px;
  left: 209px;
  overflow: hidden;
}
.v54_397 {
  width: 151px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v54_398 {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 198px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v54_399 {
  width: 162px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 354px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v54_400 {
  width: 142px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 545px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v54_401 {
  width: 169px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 710px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v54_402 {
  width: 26px;
  height: 62px;
  background: url("../images/v54_402.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 1862px;
  overflow: hidden;
}
.v54_403 {
  width: 26px;
  height: 32px;
  background: url("../images/v54_403.png");
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 0px;
  border: 2.6200873851776123px solid rgba(222,222,222,0.6000000238418579);
}
.v54_404 {
  width: 19px;
  height: 29px;
  background: url("../images/v54_404.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
  border: 2.6200873851776123px solid rgba(222,222,222,0.6000000238418579);
}
.v54_405 {
  width: 0px;
  height: 1px;
  background: rgba(222,222,222,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 7px;
  border: 1.3100436925888062px solid rgba(222,222,222,0.6000000238418579);
}
.v54_406 {
  width: 0px;
  height: 1px;
  background: rgba(222,222,222,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 9px;
  border: 1.3100436925888062px solid rgba(222,222,222,0.6000000238418579);
}
.v54_407 {
  width: 2px;
  height: 19px;
  background: url("../images/v54_407.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 23px;
  border: 2.6200873851776123px solid rgba(222,222,222,0.6000000238418579);
}
.v54_408 {
  width: 2px;
  height: 18px;
  background: url("../images/v54_408.png");
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 0px;
  border: 2.6200873851776123px solid rgba(222,222,222,0.6000000238418579);
}
.v54_409 {
  width: 5px;
  background: url("../images/v54_409.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 10px;
  border: 2.6200873851776123px solid rgba(222,222,222,0.6000000238418579);
}
.v54_410 {
  width: 5px;
  background: url("../images/v54_410.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 11px;
  border: 2.6200873851776123px solid rgba(222,222,222,0.6000000238418579);
}
.v54_411 {
  width: 320px;
  height: 381px;
  background: url("../images/v54_411.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 705px;
  left: 93px;
  overflow: hidden;
}
.v54_412 {
  width: 320px;
  height: 381px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v54_413 {
  width: 320px;
  height: 381px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v54_414 {
  width: 320px;
  height: 381px;
  background: url("../images/v54_414.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 705px;
  left: 450px;
  overflow: hidden;
}
.v54_415 {
  width: 320px;
  height: 381px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v54_416 {
  width: 320px;
  height: 381px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v54_417 {
  width: 320px;
  height: 381px;
  background: url("../images/v54_417.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 705px;
  left: 807px;
  overflow: hidden;
}
.v54_418 {
  width: 320px;
  height: 381px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v54_419 {
  width: 320px;
  height: 381px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v54_423 {
  width: 120px;
  height: 76px;
  background: url("../images/v54_423.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 729px;
  left: 121px;
  overflow: hidden;
}
.v54_424 {
  width: 46px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v54_425 {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 26px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v54_426 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 57px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v54_427 {
  width: 282px;
  height: 76px;
  background: url("../images/v54_427.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 729px;
  left: 474px;
  overflow: hidden;
}
.v54_428 {
  width: 48px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 6px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v54_429 {
  width: 86px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 26px;
  left: 7px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v54_430 {
  width: 282px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 57px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v54_431 {
  width: 220px;
  height: 76px;
  background: url("../images/v54_431.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 729px;
  left: 837px;
  overflow: hidden;
}
.v54_432 {
  width: 49px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v54_433 {
  width: 86px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 26px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v54_434 {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 57px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v54_435 {
  width: 100%;
  height: 188px;
  background: url("../images/v54_435.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 389px;
  left: 19px;
  overflow: hidden;
}
.v54_436 {
  width: 100%;
  height: 188px;
  background: url("../images/v54_436.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v54_437 {
  width: 605px;
  height: 188px;
  background: url("../images/v54_437.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v54_438 {
  width: 605px;
  height: 188px;
  background: url("../images/v54_438.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v54_439 {
  width: 605px;
  height: 188px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v54_440 {
  width: 605px;
  height: 188px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v54_441 {
  width: 605px;
  height: 188px;
  background: url("../images/v54_441.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 639px;
  overflow: hidden;
}
.v54_442 {
  width: 605px;
  height: 188px;
  background: url("../images/v54_442.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v54_443 {
  width: 605px;
  height: 188px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v54_444 {
  width: 605px;
  height: 188px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v54_445 {
  width: 605px;
  height: 188px;
  background: url("../images/v54_445.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1278px;
  overflow: hidden;
}
.v54_446 {
  width: 605px;
  height: 188px;
  background: url("../images/v54_446.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v54_447 {
  width: 605px;
  height: 188px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v54_448 {
  width: 605px;
  height: 188px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v54_449 {
  width: 605px;
  height: 188px;
  background: url("../images/v54_449.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1905px;
  overflow: hidden;
}
.v54_450 {
  width: 605px;
  height: 188px;
  background: url("../images/v54_450.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v54_451 {
  width: 605px;
  height: 188px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v54_452 {
  width: 605px;
  height: 188px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v54_453 {
  width: 605px;
  height: 188px;
  background: url("../images/v54_453.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1266px;
  overflow: hidden;
}
.v54_454 {
  width: 605px;
  height: 188px;
  background: url("../images/v54_454.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v54_455 {
  width: 605px;
  height: 188px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v54_456 {
  width: 605px;
  height: 188px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v54_505 {
  width: 100%;
  height: 92px;
  background: url("../images/v54_505.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2853px;
  left: 0px;
  overflow: hidden;
}
.v54_506 {
  width: 100%;
  height: 92px;
  background: rgba(34,28,28,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v54_507 {
  width: 49px;
  height: 50px;
  background: url("../images/v54_507.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v54_508 {
  width: 49px;
  height: 39px;
  background: url("../images/v54_508.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v54_509 {
  width: 43px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 4px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v54_510 {
  width: 244px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 38px;
  left: 86px;
  font-family: Inter;
  font-weight: Regular;
  opacity: 1;
  text-align: left;
}
.v54_511 {
  width: 590px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 38px;
  left: 379px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v54_512 {
  width: 394px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 38px;
  left: 879px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v54_516 {
  width: 100%;
  height: 100%;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1216px;
  left: 105px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v66_530 {
  width: 432px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 241px;
  left: 97px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v66_532 {
  width: 932px;
  color: rgba(4,4,4,0.800000011920929);
  position: absolute;
  top: 1306px;
  left: 195px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v66_534 {
  width: 932px;
  color: rgba(4,4,4,0.800000011920929);
  position: absolute;
  top: 1380px;
  left: 195px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v66_535 {
  width: 932px;
  color: rgba(4,4,4,0.800000011920929);
  position: absolute;
  top: 1505px;
  left: 249px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v66_539 {
  width: 201px;
  color: rgba(143,105,174,1);
  position: absolute;
  top: 1505px;
  left: 402px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v58_4711 {
  width: 100%;
  height: 157px;
  background: url("../images/v58_4711.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 11px;
  overflow: hidden;
}
.v58_4712 {
  width: 100%;
  height: 157px;
  background: url("../images/v58_4712.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_4713 {
  width: 100%;
  height: 157px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_4714 {
  width: 38px;
  height: 39px;
  background: url("../images/v58_4714.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 1142px;
  overflow: hidden;
}
.v58_4715 {
  width: 12px;
  height: 13px;
  background: url("../images/v58_4715.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  border: 2.5px solid rgba(166,166,166,1);
}
.v58_4716 {
  width: 38px;
  height: 39px;
  background: url("../images/v58_4716.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2.5px solid rgba(166,166,166,1);
}
.v58_4717 {
  width: 25px;
  height: 8px;
  background: url("../images/v58_4717.png");
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 6px;
  border: 2.5px solid rgba(166,166,166,1);
}
.v58_4718 {
  width: 178px;
  height: 32px;
  background: url("../images/v58_4718.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 1073px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v58_4721 {
  width: 83px;
  height: 76px;
  background: url("../images/v58_4721.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 63px;
  box-shadow: 4px 6px 20px rgba(0.4470588266849518, 0.37254902720451355, 0.6549019813537598, 1);
  overflow: hidden;
}
.v58_4722 {
  width: 516px;
  height: 64px;
  background: url("../images/v58_4722.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 243px;
  overflow: hidden;
}
.v58_4723 {
  width: 85px;
  height: 59px;
  background: url("../images/v58_4723.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v58_4724 {
  width: 85px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 38px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v58_4726 {
  width: 27px;
  height: 27px;
  background: url("../images/v58_4726.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 29px;
  overflow: hidden;
}
.v58_4727 {
  width: 27px;
  height: 27px;
  background: url("../images/v58_4727.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_4728 {
  width: 12px;
  height: 12px;
  background: url("../images/v58_4728.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_4729 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,0.6000000238418579);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v58_4730 {
  width: 12px;
  height: 12px;
  background: url("../images/v58_4730.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 14px;
  overflow: hidden;
}
.v58_4731 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,0.6000000238418579);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v58_4732 {
  width: 12px;
  height: 12px;
  background: url("../images/v58_4732.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 14px;
  overflow: hidden;
}
.v58_4733 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,0.6000000238418579);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v58_4734 {
  width: 12px;
  height: 12px;
  background: url("../images/v58_4734.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 0px;
  overflow: hidden;
}
.v58_4735 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,0.6000000238418579);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v58_4736 {
  width: 70px;
  height: 64px;
  background: url("../images/v58_4736.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 131px;
  overflow: hidden;
}
.v58_4737 {
  width: 70px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 43px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v58_4738 {
  width: 30px;
  height: 32px;
  background: url("../images/v58_4738.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20px;
  overflow: hidden;
}
.v58_4739 {
  width: 30px;
  height: 5px;
  background: url("../images/v58_4739.png");
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 0px;
  border: 2.526315689086914px solid rgba(197,197,197,0.6000000238418579);
}
.v58_4740 {
  width: 7px;
  height: 22px;
  background: url("../images/v58_4740.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2.526315689086914px solid rgba(197,197,197,0.6000000238418579);
}
.v58_4741 {
  width: 7px;
  height: 11px;
  background: url("../images/v58_4741.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 11px;
  border: 2.526315689086914px solid rgba(197,197,197,0.6000000238418579);
}
.v58_4742 {
  width: 7px;
  height: 16px;
  background: url("../images/v58_4742.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 23px;
  border: 2.526315689086914px solid rgba(197,197,197,0.6000000238418579);
}
.v58_4743 {
  width: 98px;
  height: 54px;
  background: url("../images/v58_4743.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 418px;
  overflow: hidden;
}
.v58_4744 {
  width: 98px;
  height: 54px;
  background: url("../images/v58_4744.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_4745 {
  width: 98px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 33px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v58_4746 {
  width: 29px;
  height: 23px;
  background: url("../images/v58_4746.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 34px;
  overflow: hidden;
}
.v58_4747 {
  width: 29px;
  height: 23px;
  background: url("../images/v58_4747.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2.242990732192993px solid rgba(197,197,197,0.6000000238418579);
}
.v58_4748 {
  width: 6px;
  background: url("../images/v58_4748.png");
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 12px;
  border: 2.242990732192993px solid rgba(197,197,197,0.6000000238418579);
}
.v58_4749 {
  width: 13px;
  background: url("../images/v58_4749.png");
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 12px;
  border: 2.242990732192993px solid rgba(197,197,197,0.6000000238418579);
}
.v58_4750 {
  width: 125px;
  height: 56px;
  background: url("../images/v58_4750.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 247px;
  overflow: hidden;
}
.v58_4751 {
  width: 125px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 35px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v58_4752 {
  width: 26px;
  height: 26px;
  background: url("../images/v58_4752.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 50px;
  overflow: hidden;
}
.v58_4753 {
  width: 26px;
  height: 26px;
  background: url("../images/v58_4753.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_4754 {
  width: 26px;
  height: 13px;
  background: url("../images/v58_4754.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  border: 2.6200873851776123px solid rgba(222,222,222,0.6000000238418579);
}
.v58_4755 {
  width: 19px;
  height: 12px;
  background: url("../images/v58_4755.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
  border: 2.6200873851776123px solid rgba(222,222,222,0.6000000238418579);
}
.v58_4756 {
  width: 0px;
  height: 0px;
  background: rgba(222,222,222,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 7px;
  border: 1.3100436925888062px solid rgba(222,222,222,0.6000000238418579);
}
.v58_4757 {
  width: 0px;
  height: 0px;
  background: rgba(222,222,222,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 9px;
  border: 1.3100436925888062px solid rgba(222,222,222,0.6000000238418579);
}
.v58_4758 {
  width: 2px;
  height: 8px;
  background: url("../images/v58_4758.png");
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 23px;
  border: 2.6200873851776123px solid rgba(222,222,222,0.6000000238418579);
}
.v58_4759 {
  width: 2px;
  height: 7px;
  background: url("../images/v58_4759.png");
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  border: 2.6200873851776123px solid rgba(222,222,222,0.6000000238418579);
}
.v58_4760 {
  width: 5px;
  background: url("../images/v58_4760.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 10px;
  border: 2.6200873851776123px solid rgba(222,222,222,0.6000000238418579);
}
.v58_4761 {
  width: 5px;
  background: url("../images/v58_4761.png");
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 11px;
  border: 2.6200873851776123px solid rgba(222,222,222,0.6000000238418579);
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v66_537 {
  width: 123px;
  height: 77px;
  background: url("../images/v66_537.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1498px;
  left: 174px;
  overflow: hidden;
}
.v66_538 {
  width: 72px;
  height: 64px;
  background: url("../images/v66_538.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1496px;
  left: 171px;
  overflow: hidden;
}
.v66_553 {
  width: 8px;
  height: 20px;
  background: url("../images/v66_553.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1564px;
  left: 492px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v66_554 {
  width: 8px;
  height: 20px;
  background: url("../images/v66_554.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v66_555 {
  width: 8px;
  height: 20px;
  background: url("../images/v66_555.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 20px;
  overflow: hidden;
}
.v66_556 {
  width: 8px;
  height: 20px;
  background: url("../images/v66_556.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 3.75px solid rgba(52,47,47,1);
}
.v66_604 {
  width: 337px;
  height: 395px;
  background: url("../images/v66_604.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1568px;
  left: 345px;
  overflow: hidden;
}
.v66_595 {
  width: 320px;
  height: 381px;
  background: url("../images/v66_595.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 0px;
  overflow: hidden;
}
.v66_593 {
  width: 320px;
  height: 381px;
  background: url("../images/v66_593.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v66_594 {
  width: 320px;
  height: 381px;
  background: linear-gradient(rgba(242,207,102,1), rgba(242,162,133,0.699999988079071));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v66_598 {
  width: 320px;
  height: 381px;
  background: url("../images/v66_598.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 348px;
  overflow: hidden;
}
.v66_599 {
  width: 320px;
  height: 381px;
  background: url("../images/v66_599.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v66_600 {
  width: 320px;
  height: 381px;
  background: linear-gradient(rgba(242,207,102,1), rgba(242,162,133,0.699999988079071));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v66_601 {
  width: 320px;
  height: 381px;
  background: url("../images/v66_601.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 696px;
  overflow: hidden;
}
.v66_602 {
  width: 320px;
  height: 381px;
  background: url("../images/v66_602.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v66_603 {
  width: 320px;
  height: 381px;
  background: linear-gradient(rgba(242,207,102,1), rgba(242,162,133,0.699999988079071));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v82_152 {
  width: 54px;
  height: 406px;
  background: rgba(110,89,159,1);
  opacity: 1;
  position: absolute;
  top: 1575px;
  left: 1225px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
