* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v4_64 {
  width: 100%;
  height: 827px;
  background: linear-gradient(rgba(200,132,166,1), rgba(161,117,179,1));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_65 {
  width: 512px;
  height: 537px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 191px;
  left: 384px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v4_66 {
  width: 224px;
  height: 209px;
  background: url("../images/v4_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 167px;
  left: 528px;
  overflow: hidden;
}
.v4_67 {
  width: 418px;
  height: 71px;
  background: rgba(213,213,213,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 375px;
  left: 431px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v4_68 {
  width: 418px;
  height: 71px;
  background: rgba(213,213,213,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 470px;
  left: 431px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v4_70 {
  width: 334px;
  height: 63px;
  background: rgba(134,101,164,1);
  opacity: 1;
  position: absolute;
  top: 632px;
  left: 473px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v4_72 {
  width: 22px;
  height: 22px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 569px;
  left: 431px;
  border-radius: 50%;
}
.v4_74 {
  width: 170px;
  color: rgba(0,0,0,0.550000011920929);
  position: absolute;
  top: 395px;
  left: 453px;
  font-family: Inter;
  font-weight: Light Italic;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v4_75 {
  width: 244px;
  color: rgba(0,0,0,0.6000000238418579);
  position: absolute;
  top: 570px;
  left: 462px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v4_84 {
  width: 244px;
  color: rgba(0,0,0,0.6000000238418579);
  position: absolute;
  top: 334px;
  left: 442px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v4_78 {
  width: 170px;
  color: rgba(0,0,0,0.550000011920929);
  position: absolute;
  top: 495px;
  left: 453px;
  font-family: Inter;
  font-weight: Light Italic;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v4_80 {
  width: 68px;
  color: rgba(255,248,248,0.699999988079071);
  position: absolute;
  top: 647px;
  left: 606px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v58_1162 {
  width: 187px;
  height: 73px;
  background: url("../images/v58_1162.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 42px;
  overflow: hidden;
}
.v58_1163 {
  width: 187px;
  height: 73px;
  background: rgba(31,31,31,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v58_1164 {
  width: 91px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 21px;
  left: 68px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v58_1165 {
  width: 20px;
  height: 28px;
  background: url("../images/v58_1165.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 33px;
  overflow: hidden;
}
.v58_1166 {
  width: 20px;
  height: 28px;
  background: url("../images/v58_1166.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_1167 {
  width: 19px;
  height: 28px;
  background: url("../images/v58_1167.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 21px;
  overflow: hidden;
}
.v58_1168 {
  width: 19px;
  height: 28px;
  background: url("../images/v58_1168.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 3.75px solid rgba(255,255,255,1);
}
