/* Seção Sobre Nós */
.about-description {
    text-align: center;
    padding: 40px 20px;
    background-color: var(--header-bg);
}

.about-description h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-description p {
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
}

/* Seção Localização */
.about-location {
    text-align: center;
    padding: 40px 20px;
}

.about-location h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.map-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Seção Paleta de Cores */
.about-colors {
    text-align: center;
    padding: 40px 20px;
    background-color: var(--card-bg);
}

.about-colors h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.color-palette {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.color {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: var(--text-color);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Seção Nossa Equipe */
.about-team {
    text-align: center;
    padding: 40px 20px;
}

.about-team h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

.team-members {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.member {
    width: 150px;
    text-align: center;
}

.member img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.member h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.member p {
    font-size: 14px;
    color: var(--text-color);
}
