/* Seção de Contato */
.contact-us-section {
    text-align: center;
    padding: 40px 20px;
    background-color: var(--header-bg);
}

.contact-us-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact-us-section p {
    font-size: 18px;
    margin-bottom: 40px;
}

.contact-form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    background-color: var(--card-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

form label {
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--text-color);
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--card-hover-color);
    border-radius: 5px;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--bg-color);
}

form button {
    background-color: var(--button-bg);
    color: var(--button-text-color);
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

form button:hover {
    background-color: var(--link-hover-color);
}

/* Informações de Contato */
.contact-info {
    text-align: center;
    padding: 40px 20px;
    background-color: var(--header-bg);
}

.contact-info h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 18px;
}


/* Estilo da página de contato */
.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--hero-bg-gradient); /* Degradê de fundo */
    padding: 20px;
}

.contact-form-section {
    background-color: var(--card-bg);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.contact-form-section h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.contact-form-section p {
    font-size: 18px;
    margin-bottom: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form label {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
    text-align: left;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: var(--text-color);
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: var(--link-hover-color);
    outline: none;
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
}

.contact-form button {
    background-color: var(--button-bg);
    color: var(--button-text-color);
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

.contact-form button:hover {
    background-color: var(--link-hover-color);
}
