/* Estilos principais */
body {
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    color: white;
}

/* Container principal de registro */
.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

/* Caixa de registro */
.register-box {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
}

/* Logo */
.register-box img {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
}

/* Título */
.register-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
}

/* Inputs */
.register-box input[type="text"],
.register-box input[type="email"],
.register-box input[type="tel"],
.register-box input[type="password"] {
    width: 96%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

/* Botão de envio */
.register-box input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #F2A285;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.register-box input[type="submit"]:hover {
    background-color: #8C84B3;
}

/* Links */
.register-box a {
    display: block;
    margin-top: 20px;
    color: #F2CF66;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.register-box a:hover {
    color: #8C84B3;
}

/* Link de voltar */
.back-link {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-link:hover {
    background-color: #8C84B3;
}

/* Container de checkbox e termos */
.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    text-align: left;
    flex-wrap: wrap; /* Quebra linha se necessário */
    margin-top: 10px;
    width: 100%;
}

/* Checkbox */
.checkbox-container input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #F2CF66;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    margin-right: 8px;
}

.checkbox-container input[type="checkbox"]:checked {
    background-color: #F2CF66;
    border-color: #F2CF66;
}

.checkbox-container input[type="checkbox"]:checked::after {
    content: '✔';
    color: #1C3059;
    font-size: 12px;
    position: absolute;
    top: 1px;
    left: 2px;
}

/* Label do checkbox */
.checkbox-container label {
    color: #F0F1F2;
    font-size: 14px;
    cursor: pointer;
    margin-right: 4px;
}

/* Ajuste para termos de uso e política */
.checkbox-container .terms-container {
    display: flex;
    flex-wrap: wrap; /* Ajusta caso a linha seja quebrada */
    align-items: center;
    gap: 5px;
}

/* Estilo dos links dos termos */
.checkbox-container .terms-container a {
    color: #F2CF66;
    text-decoration: none;
    font-size: 14px;
    white-space: nowrap; /* Evita quebra de linha nos links */
    
}

.checkbox-container .terms-container a:hover {
    color: #8C84B3;
}
