body {
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    color: white;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

.login-box {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-box img {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
}

.login-box input[type="email"],
.login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

.login-box input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #F2A285; 
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-box input[type="submit"]:hover {
    background-color: #8C84B3;
}

.login-box a {
    display: block;
    margin-top: 20px;
    color: #F2CF66;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.login-box a:hover {
    color: #8C84B3;
}

.back-link {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-link:hover {
    background-color: #8C84B3;
}
/* Estilo para esconder a checkbox padrão */
.checkbox-container {
display: flex;
align-items: center;
gap: 8px;
}

.checkbox-container input[type="checkbox"] {
appearance: none;
-webkit-appearance: none;
width: 16px;
height: 16px;
border: 2px solid #F2CF66;
border-radius: 4px;
background-color: transparent;
cursor: pointer;
position: relative;
}

.checkbox-container input[type="checkbox"]:checked {
background-color: #F2CF66;
border-color: #F2CF66;
}

.checkbox-container input[type="checkbox"]:checked::after {
content: '✔';
color: #1C3059;
font-size: 12px;
position: absolute;
top: 1px;
left: 2px;
}

.checkbox-container label {
color: #F0F1F2;
font-size: 14px;
cursor: pointer;
}

