* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v142_260 {
  width: 100%;
  height: 1797px;
  background: linear-gradient(rgba(200,132,166,1), rgba(161,117,179,1));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v142_406 {
  width: 54px;
  height: 406px;
  background: rgba(110,89,159,1);
  opacity: 1;
  position: absolute;
  top: 1575px;
  left: 1225px;
  overflow: hidden;
}
.v142_261 {
  width: 432px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 241px;
  left: 97px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v145_104 {
  width: 432px;
  color: rgba(255,255,255,0.800000011920929);
  position: absolute;
  top: 241px;
  left: 97px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v142_262 {
  width: 816px;
  color: rgba(19,19,19,0.800000011920929);
  position: absolute;
  top: 295px;
  left: 93px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v142_269 {
  width: 26px;
  height: 62px;
  background: url("../images/v142_269.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 1862px;
  overflow: hidden;
}
.v142_270 {
  width: 26px;
  height: 32px;
  background: url("../images/v142_270.png");
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 0px;
  border: 2.6200873851776123px solid rgba(222,222,222,0.6000000238418579);
}
.v142_271 {
  width: 19px;
  height: 29px;
  background: url("../images/v142_271.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
  border: 2.6200873851776123px solid rgba(222,222,222,0.6000000238418579);
}
.v142_272 {
  width: 0px;
  height: 1px;
  background: rgba(222,222,222,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 7px;
  border: 1.3100436925888062px solid rgba(222,222,222,0.6000000238418579);
}
.v142_273 {
  width: 0px;
  height: 1px;
  background: rgba(222,222,222,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 9px;
  border: 1.3100436925888062px solid rgba(222,222,222,0.6000000238418579);
}
.v142_274 {
  width: 2px;
  height: 19px;
  background: url("../images/v142_274.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 23px;
  border: 2.6200873851776123px solid rgba(222,222,222,0.6000000238418579);
}
.v142_275 {
  width: 2px;
  height: 18px;
  background: url("../images/v142_275.png");
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 0px;
  border: 2.6200873851776123px solid rgba(222,222,222,0.6000000238418579);
}
.v142_276 {
  width: 5px;
  background: url("../images/v142_276.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 10px;
  border: 2.6200873851776123px solid rgba(222,222,222,0.6000000238418579);
}
.v142_277 {
  width: 5px;
  background: url("../images/v142_277.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 11px;
  border: 2.6200873851776123px solid rgba(222,222,222,0.6000000238418579);
}
.v142_278 {
  width: 320px;
  height: 381px;
  background: url("../images/v142_278.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1211px;
  left: 96px;
  overflow: hidden;
}
.v142_279 {
  width: 320px;
  height: 381px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v142_280 {
  width: 320px;
  height: 381px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v145_83 {
  width: 320px;
  height: 381px;
  background: url("../images/v145_83.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 383px;
  left: 93px;
  overflow: hidden;
}
.v145_84 {
  width: 320px;
  height: 381px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v145_85 {
  width: 320px;
  height: 381px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v142_733 {
  width: 320px;
  height: 381px;
  background: url("../images/v142_733.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 797px;
  left: 97px;
  overflow: hidden;
}
.v142_734 {
  width: 320px;
  height: 381px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v142_735 {
  width: 320px;
  height: 381px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v142_281 {
  width: 320px;
  height: 381px;
  background: url("../images/v142_281.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1211px;
  left: 453px;
  overflow: hidden;
}
.v142_282 {
  width: 320px;
  height: 381px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v142_283 {
  width: 320px;
  height: 381px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v145_86 {
  width: 320px;
  height: 381px;
  background: url("../images/v145_86.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 383px;
  left: 450px;
  overflow: hidden;
}
.v145_87 {
  width: 320px;
  height: 381px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v145_88 {
  width: 320px;
  height: 381px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v142_736 {
  width: 320px;
  height: 381px;
  background: url("../images/v142_736.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 797px;
  left: 454px;
  overflow: hidden;
}
.v142_737 {
  width: 320px;
  height: 381px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v142_738 {
  width: 320px;
  height: 381px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v142_284 {
  width: 320px;
  height: 381px;
  background: url("../images/v142_284.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1211px;
  left: 810px;
  overflow: hidden;
}
.v142_285 {
  width: 320px;
  height: 381px;
  background: rgba(217,217,217,0.30000001192092896);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v142_286 {
  width: 320px;
  height: 381px;
  background: rgba(217,217,217,0.30000001192092896);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v145_89 {
  width: 320px;
  height: 381px;
  background: url("../images/v145_89.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 383px;
  left: 807px;
  overflow: hidden;
}
.v145_90 {
  width: 320px;
  height: 381px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v145_91 {
  width: 320px;
  height: 381px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v142_739 {
  width: 320px;
  height: 381px;
  background: url("../images/v142_739.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 797px;
  left: 811px;
  overflow: hidden;
}
.v142_740 {
  width: 320px;
  height: 381px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v142_741 {
  width: 320px;
  height: 381px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 9px 8px 200px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v145_105 {
  width: 328px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 398px;
  left: 122px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v142_742 {
  width: 328px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 815px;
  left: 126px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v145_106 {
  width: 328px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 398px;
  left: 484px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v142_743 {
  width: 328px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 815px;
  left: 488px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v145_107 {
  width: 328px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 398px;
  left: 826px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v142_744 {
  width: 328px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 815px;
  left: 830px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v145_108 {
  width: 328px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 1244px;
  left: 832px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v145_111 {
  width: 125px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 1291px;
  left: 832px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v145_109 {
  width: 328px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 1251px;
  left: 487px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v145_110 {
  width: 328px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 1244px;
  left: 125px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v142_324 {
  width: 100%;
  height: 92px;
  background: url("../images/v142_324.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1705px;
  left: 0px;
  overflow: hidden;
}
.v142_325 {
  width: 100%;
  height: 92px;
  background: rgba(34,28,28,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v142_326 {
  width: 49px;
  height: 50px;
  background: url("../images/v142_326.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v142_327 {
  width: 49px;
  height: 39px;
  background: url("../images/v142_327.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v142_328 {
  width: 43px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 4px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v142_329 {
  width: 244px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 38px;
  left: 86px;
  font-family: Inter;
  font-weight: Regular;
  opacity: 1;
  text-align: left;
}
.v142_330 {
  width: 590px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 38px;
  left: 379px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v142_331 {
  width: 394px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 38px;
  left: 879px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v142_338 {
  width: 100%;
  height: 157px;
  background: url("../images/v142_338.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 11px;
  overflow: hidden;
}
.v142_339 {
  width: 100%;
  height: 157px;
  background: url("../images/v142_339.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v142_340 {
  width: 100%;
  height: 157px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v142_341 {
  width: 38px;
  height: 39px;
  background: url("../images/v142_341.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 1132px;
  overflow: hidden;
}
.v142_342 {
  width: 12px;
  height: 13px;
  background: url("../images/v142_342.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  border: 2.5px solid rgba(166,166,166,1);
}
.v142_343 {
  width: 38px;
  height: 39px;
  background: url("../images/v142_343.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2.5px solid rgba(166,166,166,1);
}
.v142_344 {
  width: 25px;
  height: 8px;
  background: url("../images/v142_344.png");
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 6px;
  border: 2.5px solid rgba(166,166,166,1);
}
.v142_345 {
  width: 178px;
  height: 32px;
  background: url("../images/v142_345.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 1073px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v142_348 {
  width: 83px;
  height: 76px;
  background: url("../images/v142_348.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 63px;
  box-shadow: 4px 6px 20px rgba(0.4470588266849518, 0.37254902720451355, 0.6549019813537598, 1);
  overflow: hidden;
}
.v142_350 {
  width: 92px;
  height: 21px;
  background: url("../images/v142_350.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 87px;
  left: 252px;
  overflow: hidden;
}
.v142_351 {
  width: 92px;
  color: rgba(255,255,255,0.6000000238418579);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v142_362 {
  width: 149px;
  height: 21px;
  background: url("../images/v142_362.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 87px;
  left: 374px;
  overflow: hidden;
}
.v142_363 {
  width: 149px;
  color: rgba(255,255,255,0.6000000238418579);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v142_370 {
  width: 537px;
  height: 28px;
  background: url("../images/v142_370.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 752px;
  overflow: hidden;
}
.v145_82 {
  width: 104px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 7px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v142_415 {
  width: 250px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 0px;
  left: 287px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v142_376 {
  width: 198px;
  height: 41px;
  background: url("../images/v142_376.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 77px;
  left: 530px;
  overflow: hidden;
}
.v145_115 {
  width: 198px;
  height: 41px;
  background: url("../images/v145_115.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v142_377 {
  width: 178px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v142_390 {
  width: 123px;
  height: 77px;
  background: url("../images/v142_390.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1498px;
  left: 174px;
  overflow: hidden;
}
.v142_441 {
  width: 60px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 245px;
  overflow: hidden;
}
.v142_444 {
  width: 33px;
  height: 33px;
  background: url("../images/v142_444.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 14px;
  overflow: hidden;
}
.v142_445 {
  width: 33px;
  height: 33px;
  background: url("../images/v142_445.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v142_442 {
  width: 33px;
  height: 33px;
  background: url("../images/v142_442.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2.5299999713897705px solid rgba(255,255,255,0.6000000238418579);
}
.v142_443 {
  width: 25px;
  height: 24px;
  background: url("../images/v142_443.png");
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 3px;
  border: 2.5299999713897705px solid rgba(255,255,255,0.6000000238418579);
}
.v142_446 {
  width: 43px;
  height: 43px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 377px;
  overflow: hidden;
}
.v142_447 {
  width: 6px;
  height: 6px;
  background: url("../images/v142_447.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 1.25px solid rgba(255,255,255,0.6000000238418579);
}
.v142_448 {
  width: 6px;
  height: 6px;
  background: url("../images/v142_448.png");
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 4px;
  border: 1.25px solid rgba(255,255,255,0.6000000238418579);
}
.v142_449 {
  width: 6px;
  height: 6px;
  background: url("../images/v142_449.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 4px;
  border: 1.25px solid rgba(255,255,255,0.6000000238418579);
}
.v142_450 {
  width: 22px;
  height: 6px;
  background: url("../images/v142_450.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 15px;
  border: 1.25px solid rgba(255,255,255,0.6000000238418579);
}
.v142_451 {
  width: 22px;
  height: 6px;
  background: url("../images/v142_451.png");
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 15px;
  border: 1.25px solid rgba(255,255,255,0.6000000238418579);
}
.v142_452 {
  width: 22px;
  height: 6px;
  background: url("../images/v142_452.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 15px;
  border: 1.25px solid rgba(255,255,255,0.6000000238418579);
}
.v145_116 {
  width: 9px;
  height: 9px;
  background: rgba(213,168,104,1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 1151px;
  border-radius: 50%;
}
.v145_120 {
  width: 2px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 68px;
  left: 1154px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
