* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v34_32 {
  width: 100%;
  height: 1120px;
  background: linear-gradient(rgba(200,132,166,1), rgba(161,117,179,1));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v114_180 {
  width: 773px;
  height: 436px;
  background: linear-gradient(rgba(217,217,217,1), rgba(212,212,212,1));
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 74px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v58_637 {
  width: 100%;
  height: 157px;
  background: url("../images/v58_637.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 11px;
  overflow: hidden;
}
.v58_638 {
  width: 100%;
  height: 157px;
  background: url("../images/v58_638.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_639 {
  width: 100%;
  height: 157px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_640 {
  width: 38px;
  height: 39px;
  background: url("../images/v58_640.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 1143px;
  overflow: hidden;
}
.v58_641 {
  width: 12px;
  height: 13px;
  background: url("../images/v58_641.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 13px;
  border: 2.5px solid rgba(166,166,166,1);
}
.v58_642 {
  width: 38px;
  height: 39px;
  background: url("../images/v58_642.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2.5px solid rgba(166,166,166,1);
}
.v58_643 {
  width: 25px;
  height: 8px;
  background: url("../images/v58_643.png");
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 7px;
  border: 2.5px solid rgba(166,166,166,1);
}
.v58_644 {
  width: 178px;
  height: 32px;
  background: url("../images/v58_644.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 1073px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v58_647 {
  width: 83px;
  height: 76px;
  background: url("../images/v58_647.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 63px;
  box-shadow: 4px 6px 20px rgba(0.4470588266849518, 0.37254902720451355, 0.6549019813537598, 1);
  overflow: hidden;
}
.v58_648 {
  width: 516px;
  height: 72px;
  background: url("../images/v58_648.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 243px;
  overflow: hidden;
}
.v58_649 {
  width: 85px;
  height: 59px;
  background: url("../images/v58_649.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v58_650 {
  width: 85px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 38px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v58_652 {
  width: 27px;
  height: 27px;
  background: url("../images/v58_652.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 29px;
  overflow: hidden;
}
.v58_653 {
  width: 27px;
  height: 27px;
  background: url("../images/v58_653.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_654 {
  width: 12px;
  height: 12px;
  background: url("../images/v58_654.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_655 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,0.6000000238418579);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v58_656 {
  width: 12px;
  height: 12px;
  background: url("../images/v58_656.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 15px;
  overflow: hidden;
}
.v58_657 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,0.6000000238418579);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v58_658 {
  width: 12px;
  height: 12px;
  background: url("../images/v58_658.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 15px;
  overflow: hidden;
}
.v58_659 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,0.6000000238418579);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v58_660 {
  width: 12px;
  height: 12px;
  background: url("../images/v58_660.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 0px;
  overflow: hidden;
}
.v58_661 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,0.6000000238418579);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v58_693 {
  width: 70px;
  height: 72px;
  background: url("../images/v58_693.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 131px;
  overflow: hidden;
}
.v58_651 {
  width: 5px;
  height: 11px;
  background: url("../images/v58_651.png");
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 40px;
  border: 3.75px solid rgba(198,198,198,0.5);
}
.v58_662 {
  width: 70px;
  height: 64px;
  background: url("../images/v58_662.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_663 {
  width: 70px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 43px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v58_664 {
  width: 30px;
  height: 32px;
  background: url("../images/v58_664.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20px;
  overflow: hidden;
}
.v58_665 {
  width: 30px;
  height: 5px;
  background: url("../images/v58_665.png");
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 0px;
  border: 2.526315689086914px solid rgba(197,197,197,0.6000000238418579);
}
.v58_666 {
  width: 7px;
  height: 22px;
  background: url("../images/v58_666.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2.526315689086914px solid rgba(197,197,197,0.6000000238418579);
}
.v58_667 {
  width: 7px;
  height: 11px;
  background: url("../images/v58_667.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 12px;
  border: 2.526315689086914px solid rgba(197,197,197,0.6000000238418579);
}
.v58_668 {
  width: 7px;
  height: 16px;
  background: url("../images/v58_668.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 24px;
  border: 2.526315689086914px solid rgba(197,197,197,0.6000000238418579);
}
.v58_669 {
  width: 98px;
  height: 54px;
  background: url("../images/v58_669.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 418px;
  overflow: hidden;
}
.v58_670 {
  width: 98px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 33px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v58_671 {
  width: 29px;
  height: 23px;
  background: url("../images/v58_671.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 34px;
  overflow: hidden;
}
.v58_672 {
  width: 29px;
  height: 23px;
  background: url("../images/v58_672.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2.242990732192993px solid rgba(197,197,197,0.6000000238418579);
}
.v58_673 {
  width: 6px;
  background: url("../images/v58_673.png");
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 13px;
  border: 2.242990732192993px solid rgba(197,197,197,0.6000000238418579);
}
.v58_674 {
  width: 13px;
  background: url("../images/v58_674.png");
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 13px;
  border: 2.242990732192993px solid rgba(197,197,197,0.6000000238418579);
}
.v58_675 {
  width: 125px;
  height: 56px;
  background: url("../images/v58_675.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 247px;
  overflow: hidden;
}
.v58_676 {
  width: 125px;
  color: rgba(255,255,255,0.6000000238418579);
  position: absolute;
  top: 35px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v58_677 {
  width: 26px;
  height: 26px;
  background: url("../images/v58_677.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 50px;
  overflow: hidden;
}
.v58_678 {
  width: 26px;
  height: 26px;
  background: url("../images/v58_678.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_679 {
  width: 26px;
  height: 13px;
  background: url("../images/v58_679.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  border: 2.6200873851776123px solid rgba(222,222,222,0.6000000238418579);
}
.v58_680 {
  width: 19px;
  height: 12px;
  background: url("../images/v58_680.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  border: 2.6200873851776123px solid rgba(222,222,222,0.6000000238418579);
}
.v58_681 {
  width: 0px;
  height: 0px;
  background: rgba(222,222,222,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 8px;
  border: 1.3100436925888062px solid rgba(222,222,222,0.6000000238418579);
}
.v58_682 {
  width: 0px;
  height: 0px;
  background: rgba(222,222,222,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 10px;
  border: 1.3100436925888062px solid rgba(222,222,222,0.6000000238418579);
}
.v58_683 {
  width: 2px;
  height: 8px;
  background: url("../images/v58_683.png");
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 24px;
  border: 2.6200873851776123px solid rgba(222,222,222,0.6000000238418579);
}
.v58_684 {
  width: 2px;
  height: 7px;
  background: url("../images/v58_684.png");
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 1px;
  border: 2.6200873851776123px solid rgba(222,222,222,0.6000000238418579);
}
.v58_685 {
  width: 5px;
  background: url("../images/v58_685.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 11px;
  border: 2.6200873851776123px solid rgba(222,222,222,0.6000000238418579);
}
.v58_686 {
  width: 5px;
  background: url("../images/v58_686.png");
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 12px;
  border: 2.6200873851776123px solid rgba(222,222,222,0.6000000238418579);
}
.v81_162 {
  width: 588px;
  height: 373px;
  background: url("../images/v81_162.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 208px;
  left: 81px;
  overflow: hidden;
}
.v81_153 {
  width: 489px;
  color: rgba(0,0,0,0.6000000238418579);
  position: absolute;
  top: 117px;
  left: 46px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v81_154 {
  width: 488px;
  color: rgba(0,0,0,0.6000000238418579);
  position: absolute;
  top: 185px;
  left: 46px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v81_155 {
  width: 488px;
  color: rgba(0,0,0,0.6000000238418579);
  position: absolute;
  top: 278px;
  left: 46px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v81_156 {
  width: 488px;
  color: rgba(0,0,0,0.6000000238418579);
  position: absolute;
  top: 355px;
  left: 44px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v81_157 {
  width: 454px;
  color: rgba(0,0,0,0.6000000238418579);
  position: absolute;
  top: 78px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v81_158 {
  width: 333px;
  color: rgba(0,0,0,0.6000000238418579);
  position: absolute;
  top: 149px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v81_159 {
  width: 383px;
  color: rgba(0,0,0,0.6000000238418579);
  position: absolute;
  top: 239px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v81_160 {
  width: 379px;
  color: rgba(0,0,0,0.6000000238418579);
  position: absolute;
  top: 319px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v81_152 {
  width: 576px;
  color: rgba(0,0,0,0.6000000238418579);
  position: absolute;
  top: 0px;
  left: 12px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v107_249 {
  width: 100%;
  height: 92px;
  background: url("../images/v107_249.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1028px;
  left: 0px;
  overflow: hidden;
}
.v107_250 {
  width: 100%;
  height: 92px;
  background: rgba(34,28,28,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v107_251 {
  width: 49px;
  height: 50px;
  background: url("../images/v107_251.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v107_252 {
  width: 49px;
  height: 39px;
  background: url("../images/v107_252.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v107_253 {
  width: 43px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 4px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v107_254 {
  width: 244px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 38px;
  left: 86px;
  font-family: Inter;
  font-weight: Regular;
  opacity: 1;
  text-align: left;
}
.v107_255 {
  width: 590px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 38px;
  left: 379px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v107_256 {
  width: 394px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 38px;
  left: 879px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
