/* Estilo da Página de Login */
body.login-page {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.back-button {
    align-self: flex-start;
    padding: 20px;
}

.back-button button {
    background-color: #333;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.back-button button:hover {
    background-color: #6a11cb;
}

.login-box {
    background-color: #1a1a1a;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.404);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.logo img {
    max-width: 100px;
    margin-bottom: 18px;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #ccc;
}

.login-box form {
    display: flex;
    flex-direction: column;
}

.login-box input[type="email"],
.login-box input[type="password"] {
    padding: 12px;
    height: 50px;
    margin-bottom: 15px;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.login-box .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #ccc;
    font-size: 14px;
}

.login-box .remember-me input[type="checkbox"] {
    margin-right: 10px;
}

.login-box button[type="submit"] {
    background-color: #6a11cb;
    color: white;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.login-box button[type="submit"]:hover {
    background-color: #2575fc;
}
